class Point {
    double x;
    double y;
    
    public Point(double x, double y) {
        this.x = x;
        this.y = y;
    }
    
    public double distanceTo(Point other) {
        return Math.sqrt(Math.pow(this.x - other.x, 2) + Math.pow(this.y - other.y, 2));
    }
}

class Triangle {
    private Point a;
    private Point b;
    private Point c;
    
    public Triangle(Point a, Point b, Point c) {
        this.a = a;
        this.b = b;
        this.c = c;
    }
    
    public void print() {
        System.out.printf("Треугольник с вершинами: A(%.2f,%.2f), B(%.2f,%.2f), C(%.2f,%.2f)\n",
                         a.x, a.y, b.x, b.y, c.x, c.y);
    }
    
    public double p() {
        double ab = a.distanceTo(b);
        double bc = b.distanceTo(c);
        double ca = c.distanceTo(a);
        return ab + bc + ca;
    }
    
    public double s() {
        double ab = a.distanceTo(b);
        double bc = b.distanceTo(c);
        double ca = c.distanceTo(a);
        double p = this.p() / 2;
        return Math.sqrt(p * (p - ab) * (p - bc) * (p - ca));
    }
}
